<!-- resource card -->
<kd-resource-card object-meta="$ctrl.pvc.objectMeta"
                  type-meta="$ctrl.pvc.typeMeta">

  <!-- resource status info . yes or no-->
  <kd-resource-card-status layout="row">
    <md-icon class="material-icons kd-error"
             ng-if="::$ctrl.isLost()">
      error
      <md-tooltip md-delay="500"
                  md-autohide>
        [[This claim is in lost state|Tooltip text which appears on error icon hover.]]
      </md-tooltip>
    </md-icon>
    <md-icon class="material-icons"
             ng-if="::$ctrl.isPending()">
      timelapse
      <md-tooltip md-delay="500"
                  md-autohide>
        [[This claim is in pending state|Tooltip text which appears on pending icon hover.]]
      </md-tooltip>
    </md-icon>
    <md-icon class="material-icons kd-success"
             ng-if="::$ctrl.isBound()">
      check_circle
    </md-icon>
  </kd-resource-card-status>

  <!-- resource card info -->
  <kd-resource-card-columns>
    <kd-resource-card-column>
      {{::$ctrl.pvc.objectMeta.name}}
    </kd-resource-card-column>

    <kd-resource-card-column ng-if="$ctrl.areMultipleNamespacesSelected()">
    <div>
    <kd-middle-ellipsis display-string="{{::$ctrl.pvc.objectMeta.namespace}}">
    </kd-middle-ellipsis>
    </div>
    </kd-resource-card-column>

    <kd-resource-card-column>
      <kd-middle-ellipsis ng-repeat="(key, value) in ::$ctrl.pvc.accessModes"
        display-string="{{::value}}">
      </kd-middle-ellipsis>
      <div ng-hide="::$ctrl.pvc.accessModes">-</div>
    </kd-resource-card-column>

    <kd-resource-card-column>
      {{::$ctrl.getDescription()}}
    </kd-resource-card-column>

    <kd-resource-card-column>
      {{::$ctrl.getOwner()}}
    </kd-resource-card-column>

    <kd-resource-card-column>
    {{::$ctrl.pvc.objectMeta.creationTimestamp | relativeTime}}
    <md-tooltip md-delay="500"
                md-autohide>
      [[Created at| Tooltip for the age column ]] {{::$ctrl.pvc.objectMeta.creationTimestamp | date}}
    </md-tooltip>
    </kd-resource-card-column>

    <!-- <kd-resource-card-column class="kd-row-layout-column kd-icon-column">
    <kd-resource-card-menu>
    <kd-resource-card-delete-menu-item resource-kind-name="[[Persistent Volume Claim|Label 'Persistent Volume Claim' which will appear in the persistent volume claim delete dialog opened from a persistentvolumeclaim card on the list page.]]">
    </kd-resource-card-delete-menu-item>
    <kd-resource-card-edit-menu-item resource-kind-name="[[Persistent Volume Claim|Label 'Persistent Volume Claim' which will appear in the persistent volume claim edit dialog opened from a persistentvolumeclaim card on the list page.]]">
    </kd-resource-card-edit-menu-item>
    </kd-resource-card-menu>
    </kd-resource-card-column> -->
  </kd-resource-card-columns>
</kd-resource-card>
