<!-- resource card -->
<kd-resource-card object-meta="$ctrl.job.objectMeta"
                  type-meta="$ctrl.job.typeMeta">

  <!-- resource status info . yes or no-->
  <kd-resource-card-status>
    <md-icon class="material-icons kd-error"
             ng-if="::$ctrl.isInNotReadyState()">
      error
    </md-icon>
    <md-icon class="material-icons"
             ng-if="::$ctrl.isInUnknownState()">
      help
    </md-icon>
    <md-icon class="material-icons kd-success"
             ng-if="::$ctrl.isInReadyState()">
      check_circle
    </md-icon>
  </kd-resource-card-status>

  <!-- resource card info -->
  <kd-resource-card-columns>
    <!-- card column info  -->
    <kd-resource-card-header-column>
      {{::$ctrl.job.metadata.name}}
    </kd-resource-card-header-column>

    <kd-resource-card-header-column>
      {{::$ctrl.getJobStatus()}}
    </kd-resource-card-header-column>

    <kd-resource-card-header-column>
      {{::$ctrl.jobInfo.trainer}}
    </kd-resource-card-header-column>

    <kd-resource-card-header-column>
      {{::$ctrl.jobInfo.metadata.creationTimestamp | relativeTime}}
      <md-tooltip md-delay="500"
                  md-autohide>
        [[Created at| Tooltip for the age column ]] {{::$ctrl.jobInfo.metadata.creationTimestamp | date}}
      </md-tooltip>
    </kd-resource-card-header-column>

    <kd-resource-card-header-column>
      {{::$ctrl.jobInfo.chiefPod.status.hostIP}}
    </kd-resource-card-header-column>

    <kd-resource-card-header-column>
      {{::$ctrl.jobInfo.requestedGpu}}
    </kd-resource-card-header-column>

    <kd-resource-card-header-column>
      {{::$ctrl.jobInfo.allocatedGpu}}
    </kd-resource-card-header-column>

  </kd-resource-card-columns>
</kd-resource-card>
